<template>
  <v-card
    outlined
    elevation="4">
    <v-card-title
      class="font-weight-bold">
      {{ `Equipo ${this.dataEquipo[2].data[2].value}` }}
    </v-card-title>
    <v-card-subtitle>{{ this.dataEquipo[1].data[4].value }}</v-card-subtitle>
    <v-card-text>
      <v-row>
        <v-col
          v-for="(equipo, i) in dataEquipo"
          :key="i"
          cols="12"
          :md="equipo.col">
          <v-card
            tile>
            <v-card-title
              class="subheading font-weight-bold head-card-style">
              {{ equipo.titulo }}
            </v-card-title>
            <v-list
              dense>
              <v-list-item
                v-for="(data, j) in equipo.data"
                :key="j">
                <v-list-item-content>{{ data.titulo }}</v-list-item-content>
                <v-list-item-content>{{ data.value }}</v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        dark
        color="#F27830">
        Agregar Equipo
      </v-btn>
      <v-btn
        dark
        color="#7BC142">
        Mas información
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
  export default {
    data() {
      return {
        menuOpciones: [
          { text: 'Mantenimientos' },
          { text: 'Monitores' },
          { text: 'Observaciones' },
          { text: 'Perifericos' },
          { text: 'Software' },
        ],
        dataEquipo: [
          { titulo: 'Hardware', col: 3, data: [
            { titulo: 'Marca:', value: 'No consultado' },
            { titulo: 'Modelo:', value: 'No consultado' },
            { titulo: 'Procesador:', value: 'No consultado' },
            { titulo: 'Memoria RAM:', value: 'No consultado' },
            { titulo: 'Disco Duro:', value: 'No consultado' },
          ] },
          { titulo: 'Ubicación y Usuario', col: 3, data: [
            { titulo: 'Dependencia - Área:', value: 'No consultado' },
            { titulo: 'Ubicación:', value: 'No consultado' },
            { titulo: 'Nombre del responsable:', value: 'No consultado' },
            { titulo: 'Nombre de red:', value: 'No consultado' },
            { titulo: 'Usuario de dominio:', value: 'No consultado' },
          ] },
          { titulo: 'Placas y Seriales', col: 3, data: [
            { titulo: 'Numero interno:', value: 'No consultado' },
            { titulo: 'Placa de inventario:', value: 'No consultado' },
            { titulo: 'Serial:', value: 'No consultado' },
          ] },
          { titulo: 'Redes', col: 3, data: [
            { titulo: 'Dirección MAC LAN:', value: 'No consultado' },
            { titulo: 'Dirección MAC WIFI:', value: 'No consultado' },
          ] }
        ]
      }
    },
    props: {
      equipo: {
        type: Object,
        required: true
      }
    },
    watch: {
      equipo() {
        this.dataEquipo[0].data[0].value = this.equipo.modelo.marca.nombre;
        this.dataEquipo[0].data[1].value = this.equipo.modelo.descripcion;
        this.dataEquipo[0].data[2].value = this.equipo.modelo.procesador.nombre;
        this.dataEquipo[0].data[3].value = this.equipo.memoria.capacidad;
        this.dataEquipo[0].data[4].value = this.equipo.disco.capacidad;

        this.dataEquipo[1].data[0].value = (this.equipo.asignaciones.length > 0 ? this.equipo.asignaciones[0].responsable.dependencia.nombre : 'No registrar');
        this.dataEquipo[1].data[1].value = (this.equipo.asignaciones.length > 0 ? this.equipo.asignaciones[0].espacio.nombre : 'No registra');
        this.dataEquipo[1].data[2].value = (this.equipo.asignaciones.length > 0 ? this.equipo.asignaciones[0].responsable.nombre : 'No registra');
        this.dataEquipo[1].data[3].value = 'UBSCOB404-01';
        this.dataEquipo[1].data[4].value = (Object.keys(this.equipo.caracteristica).length !== 0 ? this.equipo.caracteristica.usuario_dominio : 'No registra');

        this.dataEquipo[2].data[0].value = '45877';
        this.dataEquipo[2].data[1].value = (Object.keys(this.equipo.inventario).length !== 0 ? this.equipo.inventario.inventario : 'No registra');
        this.dataEquipo[2].data[2].value = (Object.keys(this.equipo.inventario).length !== 0 ? this.equipo.serie : 'No registra');

        this.dataEquipo[3].data[0].value = (this.equipo.macs[0].mac ? this.equipo.macs[0].mac : 'No registra');
        this.dataEquipo[3].data[1].value = (this.equipo.macs[1].mac ? this.equipo.macs[1].mac : 'No registra');
      }
    }
  }
</script>
<style>
  .head-card-style {
    background-color: #7BC142;
    color: white;
  }
</style>
