<template>
  <v-card>
    <ValidationObserver
      ref="formProcesador">
      <v-form
        @submit.prevent="storeProcesador">
        <v-card-text>
          <v-row>
            <v-col
              cols="12"
              md="6">
              <ValidationProvider
                v-slot="{ errors }"
                name="nombre"
                rules="required|min:3|max:45">
                <v-text-field
                  v-model="form.nombre"
                  label="Nombre"
                  placeholder="Nombre del procesador"
                  outlined
                  color="#7BC142"
                  :error-messages="errors">
                </v-text-field>
              </ValidationProvider>
            </v-col>
            <v-col
              cols="12"
              md="6">
              <ValidationProvider
                v-slot="{ errors }"
                name="frecuencia"
                rules="required">
                <v-text-field
                  v-model="form.frecuencia"
                  label="Frecuencia"
                  placeholder="Frecuencia del procesador"
                  outlined
                  color="#7BC142"
                  :error-messages="errors">
                </v-text-field>
              </ValidationProvider>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions
          class="justify-end">
          <v-btn
            type="submit"
            dark
            color="#F27830">
            Registrar
          </v-btn>
          <v-btn
            type="button"
            dark
            color="#3C4024"
            @click="omitir()">
            Omitir
          </v-btn>
          <v-btn
            type="button"
            dark
            color="#7BC142"
            @click="clearForm()">
            Cancelar
          </v-btn>
        </v-card-actions>
      </v-form>
    </ValidationObserver>
  </v-card>
</template>
<script>
  export default {
    data() {
      return {
        form: {
          nombre: '',
          frecuencia: ''
        }
      }
    },
    methods: {
      async storeProcesador() {
        const validate = await this.$refs.formProcesador.validate();
        if (validate) {
          this.$emit('getProcesador', this.form);
          this.$refs.formProcesador.reset();
          this.form.nombre = '';
          this.form.frecuencia = '';
        }
      },
      omitir() {
        this.$emit('omitir');
      },
      clearForm() {
        this.$refs.formProcesador.reset();
        this.form.nombre = '';
        this.form.frecuencia = '';
        this.$emit('clearForm');
      }
    }
  }
</script>
